@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	margin: 0 0;
	font-family: 'PT Sans', sans-serif;
	width: 100%;
	color: #2b2d2f;
}

.navbar {
	margin: 0 0;
	font-weight: 400;
	font-size: 1.2em;
}

h1,
h2,
h3 {
	color: indigo;
	font-weight: 700;
}

p,
ul,
ol {
	font-weight: 400;
	font-size: 1.3em;
}

p.first {
	margin-top: 2%;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: coral;
}
