@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    margin: 5%;
    font-family: 'Roboto', san-serif;
    color: white;
}

h1, h2, h3 {
    color: silver;
    
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .hero::before {
        content: "";
        background-image: url('Background_DP.jpg') !important;
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.05;
    }


