@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'PT Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #2b2d2f;
	overflow-x: hidden;
}

.navbar {
	margin: 0 0;
	font-weight: 400;
	font-size: 1.2em;
}

.bodydiv {
	width: 90%;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 2%;
}

img {
	width: 30vw;
	margin-top: 15px;
	margin-bottom: 25px;
	box-shadow: 3px 3px 4px gray;
}

p,
ul,
ol {
	font-weight: 400;
	font-size: 1.3em;
}

ul {
	display: flex;
	flex-direction: column;
	justify-content: start;
	list-style-type: none;
	width: 60vw;
}

li {
	margin-bottom: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

p.first {
	margin-top: 2%;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: coral;
}

@media (max-width: 750px) {
	body {
		flex-direction: column;
	}

	li {
		display: flex;
		flex-direction: column;
	}

	img {
		width: 75vw;
	}
}
